/*Import for Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&family=Poppins:wght@100;200;300;400;500&display=swap');

/*Asterisk wildcard selector to override default styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General Styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-family: 'Charmonman', sans-serif;
    letter-spacing: 5px;
}

h2,
h3 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/*Header*/

header {
    background-color: #979f83;
    width: 100%;
    position: fixed;
    z-index: 99;
    box-shadow: 0 2px 2px #192e25;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 2rem;
}

header a {
    text-decoration: none;
    color: #192e25;
}

#main-menu {
    font-size: 120%;
    letter-spacing: 5px;
    list-style-type: none;

}

#main-menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 3px solid #192e25;
}

/*Nav styles*/
nav {
    position: absolute;
    background-color: #979f83;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #192e25;
    display: none;
    top: 100%;
}

/*Nav toggle*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}


/*Main Content*/
main {
    background-color: whitesmoke;
    /*Push footer down*/
    flex: 1 0 auto;
    margin-top: 60px;
}


/*Footer*/
footer {
    background-color: #192e25;
    width: 100%;
}

#footer-icons {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#footer-icons i {
    font-size: 150%;
    padding: 5%;
    color: #979f83;
}


/*Media queries for responsive design*/

/*Large or landscape phones (576 px and up)*/
@media screen and (min-width: 576px) {
    #logo {
        font-size: 180%;
    }
}
/*Tablets and up - 768px plus*/
@media screen and (min-width: 768px) {
    /*Header*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #main-menu {
        display: flex;
    }

    #main-menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 200%;
        line-height: 75px;
        margin: 0 0.5rem;
    } 

    /*Main content*/
    main {
        /*Push main content down under header*/
        margin-top: 75px;
    }
}

/*Laptops and up - 992px plus*/
@media screen and (min-width: 992px) {

    #logo {
        font-size:280%;
    }

    /*Main content*/
    main {
        /*Push main content down under header*/
        margin-top: 76px;
    }
}